* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/mainspace.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    color: white;
    text-align: center;
    width: 100%;
}

/*player images*/
.pimage{
    width: 175px;
    height: 150px; 
}
h4{
    margin: 3px;
}

.player{
    float: left;
    margin: 0px 10px 0px 10px;
    border: solid 5px purple;
}

/*.player:hover{
    float: left;
    margin: 0px 10px 0px 10px;
    border: solid 5px yellow;
    cursor: pointer;
}
*/
#attackerbox{
    float: left;
    height: 300px;
    border: solid 2px white;
    width: 1000px;
}

.attacker{
    border: solid 5px green; 
    float: left;
    margin: 0px 10px 0px 10px;
   
}

#defenderbox{
    float: left;
    height: 200px;
    border: solid 2px white;
    width: 600px;
}

#defenderondeckbox{
    float: left;
    height: 200px;
    border: solid 2px white;
    width: 600px;
}


button{
    background-color: black;
}

.defender{ 
    float: left;
    margin: 0px 10px 0px 10px;
    border: solid 5px red;

}